<body style="margin: 0">
    <div id="react-root">
        <div>
            <header id="header" class="makeStyles-grow-1">
                <header
                    class="MuiPaper-root MuiAppBar-root MuiAppBar-positionStatic MuiAppBar-colorPrimary MuiPaper-elevation4">
                    <div class="MuiToolbar-root MuiToolbar-regular MuiToolbar-gutters"><button
                            class="MuiButtonBase-root MuiIconButton-root makeStyles-menuButton-2 MuiIconButton-colorInherit MuiIconButton-edgeStart"
                            tabindex="0" type="button" aria-label="menu"><span class="MuiIconButton-label"><svg
                                    class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                                    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
                                </svg></span></button><a href="/">
                            <h6 class="MuiTypography-root makeStyles-title-3 MuiTypography-h6 MuiTypography-noWrap">
                                React Project</h6>
                        </a>
                        <div class="makeStyles-search-4">
                            <div class="makeStyles-searchIcon-5"><svg class="MuiSvgIcon-root" focusable="false"
                                    viewBox="0 0 24 24" aria-hidden="true">
                                    <path
                                        d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
                                    </path>
                                </svg></div>
                            <div class="MuiInputBase-root makeStyles-inputRoot-6"><input type="text"
                                    placeholder="Search…" aria-label="search"
                                    class="MuiInputBase-input makeStyles-inputInput-7" /></div>
                        </div>
                        <div class="makeStyles-grow-1"></div>
                        <nav>
                            <div class="makeStyles-sectionMobile-16"><button
                                    class="MuiButtonBase-root MuiIconButton-root MuiIconButton-colorInherit"
                                    tabindex="0" type="button" aria-label="show more"
                                    aria-controls="primary-search-account-menu-mobile" aria-haspopup="true"><span
                                        class="MuiIconButton-label"><svg class="MuiSvgIcon-root" focusable="false"
                                            viewBox="0 0 24 24" aria-hidden="true">
                                            <path
                                                d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z">
                                            </path>
                                        </svg></span></button></div>
                            <div>
                                <div class="makeStyles-sectionDesktop-15">
                                    <li class="MuiButtonBase-root MuiListItem-root MuiMenuItem-root MuiMenuItem-gutters MuiListItem-gutters MuiListItem-button"
                                        tabindex="-1" role="menuitem" aria-disabled="false">Register</li>
                                    <li class="MuiButtonBase-root MuiListItem-root MuiMenuItem-root MuiMenuItem-gutters MuiListItem-gutters MuiListItem-button"
                                        tabindex="-1" role="menuitem" aria-disabled="false">Login</li>
                                </div>
                            </div>
                        </nav>
                    </div>
                </header>
                <div></div>
            </header>
            <div class="MuiContainer-root makeStyles-container-21 MuiContainer-maxWidthMd">
                <div>
                    <div><button class="MuiButtonBase-root MuiButton-root MuiButton-text" tabindex="0"
                            type="button"><span class="MuiButton-label">Create post</span></button></div>
                </div><img src="3cdb5eb7c726e3dd57c711e302ce5cef.jpg" width="100%" />
            </div>
            <footer class="makeStyles-footer-28">This is footer</footer>
            <div class="makeStyles-root-29"></div>
        </div>
    </div>
    <script src="bundle.js"></script>
</body>
</body>